body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    font-size:1rem;
    font-weight:normal;
}

#main-header {
    color:black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:left;
    margin-left:3%;
}

.sample-image {
    border-radius:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#navbar {
    position:relative;
    background:#fff;
    text-align:center;
    width:75%;
    left:25%;
    top:0px;
    margin-top:-48px;
}

a {
    text-decoration:none;
    color:orangered;
}

a:visited {
    color:orangered;
}

#navbar a{
    text-decoration:none;
}

#navbar a:visited{
    color:black;
}

#navbar ul{
    list-style:none;
}

#navbar li{
    font-family:Arial, Helvetica, sans-serif;
    display:inline;
    padding:20px;

}

#showcase {
    background-image:url(images/abstract1.png);
    background-position-x:right;
    min-height:300px;
    font-size:45px;
    color:white;
    padding:75px;
    margin-top:35px;
    background-repeat:no-repeat;
}

#main-body {
    padding-top:50px;
    margin-left:200px;
    margin-right:200px;
    line-height:150%;
}

#main-body h2{
    text-align:center;

}

#main-footer {
    text-align:center;
}